:root {
    --window-padding: 6px;
    --window-roundness: 10px;
}

.platform-win .typeWindows-1za-n7 {
    height: 10px;
    width: 100%;
    top: 0px;
    left: -3px;
    margin-top: 0;
}

.InvisibleTyping-typingButton-invisibleTypingButton svg {
    color: #ED4245 !important;
}

.bf-toolbar::before {
    background: #30304f !important;
}

.separator-2I32lJ {
    display:none;
} 

.navButton-2gQCx- navItem-3Wp_oJ button-38aScr lookBlank-3eh9lL colorBrand-3pXr91 grow-q77ONN contents-18-Yxp {
    color:#FEE75C;
}

.navButton-2gQCx- {
    color:#FEE75C;
}

.buttonWrapper-1ZmCpA {
    color:#FEE75C;
}

.attachButtonPlus-jWVFah {
    fill:#FEE75C;
}

.navButton-2gQCx-  {
    color:#ff2ea2;
}

/*Embeds*/
:root{
--embed-border-radius: 8px;
}
.embed-IeVjo6 {
border-radius: var(--embed-border-radius);
}
.embed-IeVjo6 code{
background: var(--background-secondary);
}
:root{
--embed-line-width: 256px;
}
.embedWrapper-lXpS3L{
}
.embedFull-2tM8-- {

border-left: calc(4px + var(--embed-line-width)) solid var(--background-accent);
background: var(--background-secondary);
}
.grid-1nZz7S {
margin-left: calc( -1 * var(--embed-line-width));
z-index: 1;
}
.embedFull-2tM8--:after, .embedFull-2tM8--:before{
content: "";
height: 100%;
width: var(--embed-line-width);
position: absolute;
top: 0;
left: calc(-1 * var(--embed-line-width));
}
.embedFull-2tM8--:after{
background: linear-gradient(to right, transparent, var(--background-secondary));
}
.embedFull-2tM8--:before{
background: var(--background-secondary);
opacity: .8;
}

/* Hover Channels animated */
.mainContent-u_9PKf:hover {
animation: UserModalButtons 0.5s normal ease;}
.mainContent-u_9PKf .noWrap-3jynv6 {width: 100px;opacity: 1;}
.mainContent-u_9PKf {transition: 0.2s;}
.mainContent-u_9PKf:hover {transition: 0.2;}
@keyframes UserModalButtons {
0% {
  transform: translateY(0px);
}
45% {
  transform: translateY(-5px);
}
90% {
  transform: translateY(0px);
}
}

img.emote {
text-indent: 0;
white-space: nowrap;
width: auto;
position: relative;
top: 0.25ex;
}


#floating-editor-window.resizable {
max-height: unset;
max-width: unset;
}

/*Everything Offline*/
/*Offline Revamp*/
.tipTitle-GL9qAt{content:"";font-size: 0px;}
.tipTitle-GL9qAt::before{content:"Hey...";font-size: 12px;}
.tip-2cgoli{content:"";font-size: 0px;}
.tip-2cgoli::before{content: "You're Offline :c";font-size: 16px;}
.problems-3mgf6w.slideIn-sCvzGz{display:none;}
.container-16j22k.fixClipping-3qAKRb{background:rgba(0, 0, 0, 0.1);backdrop-filter: blur(5px);}

.userPopout-xaxa6l[style*="--user-background"] .banner-2QYc2d,
.root-3QyAh1[style*="--user-background"] .banner-2QYc2d {
height: 120px;
background: var(--background-floating) var(--user-background) var(--user-popout-position, center) center / cover !important;
}
.userPopout-xaxa6l[style*="--user-background"] .avatarPositionNormal-aZjAsn {
top: 76px;
}
.root-3QyAh1[style*="--user-background"] .banner-2QYc2d {
height: 240px;
}





/*
#status-picker {
margin-bottom: 5px;
}

#status-picker > div {
display: flex;
flex-wrap: wrap;
padding: 8px;
}

.statusItem-33LqPf {
height: 32px;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
}

.statusItem-33LqPf > svg {
width: 16px;
height: auto;
}

#status-picker .item-1tOPte {
margin: 0;
width: 25%;
}

#status-picker .status-1fhblQ,
#status-picker .description-2L932D,
#status-picker .separator-2I32lJ:nth-child(2) {
display: none;
}

#status-picker .separator-2I32lJ,
#status-picker #status-picker-custom-status {
display: block;
width: 100%;
}

#status-picker-custom-status .status-1fhblQ {
display: block;
margin-left: 6px;
}
*/